.hunts {
    position: relative;
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(45%, auto));
}


.hunt {
    position: relative;
    border: 1pt solid black;
    display: flex;
    aspect-ratio: 1 / 1.290 auto;
    /* height: min(220px); */
    margin: 4%;
    flex-direction: column;
    background-image: linear-gradient(lightslategrey, rgba(0, 0, 0, 0));
}

.title {
    position: relative;
    align-self: self-start;
    left: 8px;
    top: 8px;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.description {
    position: relative;
    top: 8px;
    left: 4px;
}

.creator {
    position: absolute;
    bottom: 8px;
    right: 8px;
}


